<%= simple_form_for(@newPost) do |f| %>

<center>
  <div class="form-inputs">

    <span class="input-box"><%= f.text_field :content, autofocus: true, class: "form-control" %></span>
  </div>

  <div class="form-actions">
    <span type="button" class="btn btn-submit"><%= f.button :submit, "Splash", class: "btn btn-primary" %></span>
  </div>
<% end %>
</center>
