<div class="row">
  <div class="card col-lg-3">
    <div class="card-body">
    <p>Stats</p>
      </div>
    </div>



  <div class="card col-lg-6">
    <div class="card-body">
    <p>Feed</p>
      </div>
    </div>


  <div class="card col-lg-3">
    <div class="card-body">
    <p>About</p>
      </div>
    </div>

</div>

