<div class="row">
  <div class="card col-lg-3">
    <div class="card-body">
    <p>Stats</p>
      </div>
    </div>



   <div class="card col-lg-6">
    <% for @p in @posts %>
    <div class="card-body">
    <p><%= @p.content %></p>
      </div>
      <% end %>
    </div>



  <div class="card col-lg-3">
    <div class="card-body">
    <p>About</p>
      </div>
    </div>

  <div class="card col-lg-3 mt-2">
    <div class="card-body">
    <p>Trends</p>
      </div>
    </div>
</div>

