/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
  background-color: #00a896;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2302c39a' fill-opacity='0.34' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar.bg-custom {
  background-color: white;
}


.row {
  display: flex;
  align-items: flex-start;
  flex-basis: 100%;
}

.post-card {
border: 1px solid black;
border-radius: 8px;
margin-bottom: 8px;
}

.post-title {
  text-align: left;
  margin-left: 15px;
}

.post-title:hover {
text-decoration: none;
}

.post-content {
  text-align: left;
  margin: 15px;
  font-size: 120%;
}

.post-owner {
  color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
  font-weight: bold;

}

.post-time {
  opacity: 0.7;
}

.post-links {
  opacity: 0.4;
  font-size: 150%;
  word-spacing: 150px;
}

.fa-heart:hover {
  color: #F0A6CA;
}

.fa-retweet:hover {
  color: #3DA35D;
}

.fa-reply:hover {
  color: #05668D;
}

.btn.btn-primary {
background: rgb(2,128,144);
background: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
border-color: white;
}

.btn.btn-primary:hover {
background: rgb(0,100,148);
background: linear-gradient(90deg, rgba(0,100,148,1) 0%, rgba(5,130,202,1) 0%, rgba(0,166,251,1) 100%);
border-color: white;
}

.input-box {
  margin: 2px 0 0 2px;
}

.title {
  font-size: 125%;
  font-weight: bold;
}

.follow-me {
color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
font-weight: bold;
line-height: 400%;
padding: 4px;
}

.follow-me:hover {
color: rgb(0,100,148);
color: linear-gradient(90deg, rgba(0,100,148,1) 0%, rgba(5,130,202,1) 0%, rgba(0,166,251,1) 100%);
text-decoration: none;
}

.names {
color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
font-weight: bold;
line-height: 380%;
padding: 4px;
font-size: 60%;
margin-left: 15px;

}

.names:hover {
color: rgb(0,100,148);
color: linear-gradient(90deg, rgba(0,100,148,1) 0%, rgba(5,130,202,1) 0%, rgba(0,166,251,1) 100%);
text-decoration: none;
}

.description {
font-weight: lighter;
font-size: 80%;
}

.profile-box {
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
}

.profile-info {
  font-weight: bold;
  text-align: center;
}

.profile-info2 {
  font-weight: bold;
  color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
text-align: center;
}

.footer-links {
  text-align: center;
  color: white;

  font-size: 75%;
  word-spacing: 3px;
}

.logout {
  margin-left: 24px;
  font-weight: bold;
}

.logout:hover {
  text-decoration: none;
}

.jumbotron {
background: url(https://picsum.photos/1000/300);
background-size: cover;
border-radius: 8px;
}

.display-4 {
  color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   text-align: center;
}

.white-form {
  color: white;
}

h2 .white-h2 {
  color: white;
}

.avatar {
  font-size: 175%;
  color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
  margin-top: -11px;
}

#fishy {

  color: rgb(2,128,144);
color: linear-gradient(90deg, rgba(2,128,144,1) 0%, rgba(0,168,150,1) 0%, rgba(2,195,154,1) 100%);
}

#navicons {
  margin-right: 4px;
}
