<style>
  body {
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ), url(https://www.japawalk.com/photo/MSH/0000017.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  text-shadow: 2px 0 0 black;
}

.container-index {
margin: 0 auto;
text-align: center
}

.text {
  color: white;
  font-size: 125%;
  text-shadow: 2px 0 0 black;
}

.footer-links {
  text-align: center;
  color: white;
  margin-top: 20%;
  font-size: 75%;
  word-spacing: 3px;
}

.card {
  float: right;
  width: 250px;
  height: 250px;

  }

  .welcome {
display: inline-block;

  }
  .button-container {
margin: 0 auto;
text-align: center
  }
  .sign {
display: inline-block;
flex-direction: column;
  }

  .btn {
    background-color: #00B4D8;
    border-color: #00B4D8;
    border-radius: 16px;
    margin-top: 12px;
  }

    .btn:hover {
    background-color: #00A6FB;
    border-color: #00B4D8;
  }



</style>
<div class="container-index">
  <div class="welcome">
  <h1>Welcome to Splashr</h1>
  <p class="text">
    Connect with other fish fans<br>
    Chat about your favorite flounders<br>
    Share fanciful pictures of our undersea friends
  </p>
    </div>
    <div class="button-container">
      <div class="sign">
      <a class="btn btn-primary btn-lg" href="/users/sign_in">Sign In</a><br>
      <a class="btn btn-primary btn-lg" href="/users/sign_up">Sign Up</a>
      </div>
    </div>
<div class="col-sm-12">
      <p class="footer-links">
    Terms  Privacy  Cookies   More   © 2020 Splashr
    <p>
    </div>
</div>
